.button {
    background-color: white;
    color: black;
    padding: 15px 30px;
    text-align: center;
    outline: none;
    border: 0px;
    text-decoration: none;
}

.button:hover {
    background-color: var(--light-purple);
    color: white;
}

.button.light-purple {
    background-color: var(--light-purple);
    color: white;
}

.button.light-purple:hover {
    background-color: var(--dark-purple);
    color: white;
}

.button.dark-purple {
    background-color: var(--dark-purple);
    color: white;
}

.button.dark-purple:hover {
    background-color: var(--light-purple);
    color: white;
}

.button.inverse {
    background-color: black;
    color: white;
}

.ghostbutton {
    display: block;
    outline: 0;
    z-index: 1;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    text-decoration: none;
    border: 3px solid white;
    padding: 20px 35px;
    cursor: pointer;
    font-weight: bold;
}

.landingpage > .wrapper > footer > a.ghostbutton:hover, a.ghostbutton:active {
    color: var(--purple);
    background-color: white;
}
