.programma-and-tickets .header-bg {
    width: 100%;
    height: 210px;
    background-image: url('../../img/header/programma-and-tickets.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -20px;
}
.programma-and-tickets .ticket {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.programma-and-tickets .ticket .date > h2, .programma-and-tickets .ticket .date > h3 {
    margin: 0;
}

.programma-and-tickets .ticket .date > h2 {
    font-size: 34px;
}

.programma-and-tickets .ticket .date > h3 {
    font-size: 26px;
}

.programma-and-tickets .content {
    margin-top: 78px;
}

.programma-and-tickets .ticket .date, .programma-and-tickets .ticket figure {
    margin-right: 50px;
}

.programma-and-tickets .ticket figure {
    flex-basis: 15%;
    max-width: 15%;
    overflow: hidden;
}

.programma-and-tickets .ticket figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.programma-and-tickets .ticket .show-data {
    flex-grow: 1;
}

.programma-and-tickets .ticket .show-data > a  {
    text-decoration: none;
    color: black;
    margin: 0;
    font-size: 30px;
    font-weight: bold;
}

.programma-and-tickets .ticket .show-data > p {
    font-size: 21px;
}

.programma-and-tickets .ticket .show-data > p > span {
    padding-left: 7px;
}

.programma-and-tickets .ticket > footer {
    align-self: flex-end;
}

.programma-and-tickets .ticket > footer > a {
    display:  block;
}
